.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
}

.main-body .mat-form-field {
  width: 100%;
}

.row .form-field{
  width: 100%;
}

.row .form-field-left{
  width: 49%;
  margin-right: 2%;
}

.row .form-field-right{
  width: 49%;
}

.action {
  display: flex;
  gap: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
}
