/* Toolbar Begins */
.mat-toolbar.mat-primary {
  background: #ff0000;
  color: #fff;
}

.example-spacer {
  flex: 1 1 auto;
}

section {
  display: table;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
/* Toolbar Ends */

/* Content Begins */
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit";
}
/*------Home----*/
#home {
  width: 100%;
}
.carousel-caption h1 {
  color: #4e2b23;
  font-family: "Outfit";
  font-size: 42px;
  background-color: #f0f1f4;
  padding: 2%;
}
/*------Services------*/
#services {
  background-color: #f0f1f4;
  background-size: cover;
  background-position: center;
  color: #121114 !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
#services h1 {
  text-align: center;
  color: #4e2b23 !important;
  padding-bottom: 10px;
}
#services h2 {
  text-align: center;
  color: #702619 !important;
  padding-bottom: 10px;
}
#services h3 {
  color: #cfc2a0;
}
.services {
  margin-top: 40px;
}
.icon {
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid #121114;
  border-radius: 50%;
}
#services p {
  font-family: "Hepta Slab";
  font-size: 14px;
  margin-top: 20px;
  color: #121114;
}
/*----------Download--------*/
#download {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 100px;
  font-size: 38px;
  width: 100%;
}
#download img {
  width: 300px;
}
/*--------Plans-------*/
#price {
  padding: 40px 0;
  background-color: #efefef;
  width: 100%;
}
#price h1 {
  text-align: center;
  color: #4e2b23 !important;
  padding-bottom: 10px;
}
.single-price {
  margin: 10px auto;
  display: inline;
  float: left;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}
.single-price:hover {
  box-shadow: 0 2px 20px #333;
}
.price-head {
  background-color: #4e2b23;
  display: inline;
  float: left;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
}
.price-head h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  text-transform: uppercase;
}
.price-head p {
  font-family: "Hepta Slab";
  font-size: 25px;
  color: #ccc;
  font-weight: bold;
  line-height: 30px;
}
#price span {
  font-size: 15px;
}
.price-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 0 15px;
}
.price-content ul li {
  font-family: "Hepta Slab";
  border-bottom: 1px solid #efefef;
  padding: 15px 10px;
  list-style: none;
}
ul li:last-child {
  border: none;
}
.price-button {
  display: inline;
  float: left;
  padding: 15px 15px 30px;
  text-align: center;
  width: 100%;
}
.join-btn {
  background-color: #4e2b23;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  padding: 15px 50px;
  transition: 0.5s;
}
.join-btn:hover {
  border-color: 1px solid #fff;
  background-color: #702619;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
/*--------Contact---------*/
#contact {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  width: 100%;
}
#contact h1 {
  color: #4e2b23 !important;
  padding-bottom: 10px;
}
.contact-form {
  padding: 15px;
}
.form-control {
  font-family: "Hepta Slab";
  border-radius: 0 !important;
  border: none !important;
}
#contact button {
  background-color: #4e2b23;
}
/*-------Footer------*/
#footer {
  background: #333;
  color: #fff;
  padding: 12px;
  width: 100%;
}
#footer i {
  margin: 15px;
}
/* Content Ends */
