<!--Toolbar-->
<mat-toolbar color="primary">
  <span>Running Offer</span>
  <span class="example-spacer"></span>
  <section>
    <div class="example-button-row">
      <button mat-raised-button [routerLink]="['/home']">Home</button>
      <button mat-raised-button [routerLink]="['/business/offers']">
        Offers
      </button>
    </div>
  </section>
</mat-toolbar>


<!--Home-->
<link
  rel="stylesheet"
  type="text/css"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="http://fonts.googleapis.com/css?family=Outfit"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="http://fonts.googleapis.com/css?family=Hepta+Slab"
/>
<body>
  <div id="home">
    <img
      src="../../assets/img/running-street.jpg"
      alt="running street"
      class="d-block img-fluid"
    />
    <div class="carousel-caption">
      <h1>“The world is your canvas, and you are the pencil!”</h1>
    </div>
  </div>
  <!--Services-->
  <section id="services">
    <div class="container">
      <h1>Nuestros Servicios</h1>
      <h2>
        Nuestro servicio brinda diversas características que creemos que te
        serán interesantes para mejorar tu salud en el progreso.
      </h2>
      <div class="row services">
        <div class="col-md-4 text-center">
          <div class="icon">
            <i class="fa fa-brush"></i>
          </div>
          <h3>Dibuja el mundo</h3>
          <p>
            Corre por las calles como si fuera un canvas y pinta sobre este para
            mejorar tu salud.
          </p>
        </div>
        <div class="col-md-4 text-center">
          <div class="icon">
            <i class="fa fa-cloud"></i>
          </div>
          <h3>Lleva tus datos</h3>
          <p>
            Exporta tus datos estadísticos a diferentes aplicaciones vinculadas
            como Google Fit.
          </p>
        </div>
        <div class="col-md-4 text-center">
          <div class="icon">
            <i class="fa fa-person-running"></i>
          </div>
          <h3>Gana por correr</h3>
          <p>
            Gana Kinetic Points para obtener promociones en diversos preoductos
            deportivos.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Download-->
  <section id="download">
    <div class="container">
      <p>Descarga nuestra aplicación y empieza a dibujar el mundo</p>
      <a href="#"
        ><img src="../../assets/img/app-store.png" alt="app store download"
      /></a>
      <a href="#"
        ><img src="../../assets/img/play-store.png" alt="play store download"
      /></a>
    </div>
  </section>
  <!--Price Plans-->
  <section id="price">
    <div class="container">
      <h1>Price Plan</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="single-price">
            <div class="price-head">
              <h2>Free</h2>
              <p>Gratis</p>
            </div>
            <div class="price-content">
              <ul>
                <li>Modo Run With Pencil</li>
                <li>Modo Run Without Pencil</li>
                <li>Compartir</li>
              </ul>
            </div>
            <div class="price-button">
              <a class="join-btn" href="#">Unirse</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-price">
            <div class="price-head">
              <h2>Plus</h2>
              <p>US$ 4.99/<span>mes</span></p>
              <p>US$ 4.19/<span>año</span></p>
            </div>
            <div class="price-content">
              <ul>
                <li>Beneficios Free</li>
                <li>Save Draft</li>
                <li>Sincronizar datos</li>
              </ul>
            </div>
            <div class="price-button">
              <a class="join-btn" href="#">Unirse</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-price">
            <div class="price-head">
              <h2>Business</h2>
              <p>US$ 49.99/<span>mes</span></p>
              <p>US$ 41.99/<span>año</span></p>
            </div>
            <div class="price-content">
              <ul>
                <li>Promociona tus productos</li>
                <li>Incrementa tus ventas</li>
              </ul>
            </div>
            <div class="price-button">
              <a class="join-btn" href="#">Unirse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Contact-->
  <section id="contact">
    <div class="container">
      <h1>Contacto</h1>
      <div class="row">
        <div class="col-md-6">
          <form class="contact-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre" />
            </div>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                placeholder="Telefono"
              />
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Correo" />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="4"
                placeholder="Mensaje"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">ENVIAR</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--Footer-->
  <section id="footer">
    <div class="container text-center">
      <p>Copyrights Running Artist, inc.</p>
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </section>
</body>
